<h1>Show Comment</h1>
<div>
<img src="<%= Routes.user_path(@conn, :photo, @comment.user_id) %>" alt="">
</div>

<div>
  <%= @comment.body %>
</div>



<span><%= link "Edit", to: Routes.comment_path(@conn, :edit, @comment) %></span>
<span><%= link "Back", to: Routes.event_path(@conn, :index) %></span>
